@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: #19a1ad;
}
.bg-top{
    
    background-image: url(../images/bg-pattern-top.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 59rem;
    transform: rotate(0deg) translateY(-31rem) translateX(-17rem);
    opacity: 0.9;
    position: relative;
    z-index: -1;
}

.card{
    /* position:absolute; */
    margin: auto;
    margin-top:-48.813rem;
    width: 350px;
    height: 374px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.section1{
    height: 37%;
    background-image: url(../images/bg-pattern-card.svg);
    padding-top: 5.438rem;
}
.cricle{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: url(../images/image-victor.jpg);
    background-position: center;
    border: 5px solid white;
    margin:auto;
    overflow: overlay;
    background-size: contain;
}
.section2{
    height: 63%;
    background-color:#ffffff;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    padding-top:76px;
}
.section2 h3{
    font-size:18px;
    font-weight: 700;
    color:hsl(229, 23%, 23%);
    
}
span{
    color:hsl(0, 0%, 59%);
    /* font-size: 15px; */
    font-weight:400;
    word-spacing: 4px;
}
p{
    color:hsl(0, 0%, 59%);
    font-size: 13.5px;
    font-weight: 400;
    margin: 10px 0 27px 0;
    letter-spacing: 0.2px;
}
hr{
    opacity: 0.5;
    width: 100%;  
}
.sub-section{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    width: 100%;
    padding: 8px 18px;

}
.status{
    text-align: center;
    line-height: 1.35rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin-left: 1rem; */
}
.status h3 ~ span{
    color:hsl(0, 0%, 59%);
    font-size: 13px;
    font-weight:400;
    letter-spacing: 2px;
}
.bg-bottom{
    background-image: url(../images/bg-pattern-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 59rem;
    transform: rotate(0deg) translateY(-9rem) translateX(42rem);
    opacity: 0.9;
    position: relative;
    z-index: -1;

}