@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: #19a1ad;
    background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    width: 350px;
    height: 374px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 1px hsla(0, 0%, 0%, 0.2);
}
.section1{
    height: 37%;
    background-image: url(../images/bg-pattern-card.svg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cricle{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: url(../images/image-victor.jpg);
    background-position: center;
    border: 5px solid white;
    background-size: contain;
    transform: translateY(63px);
}
.section2{
    height: 63%;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:76px;
}
.section2 h3{
    font-size:18px;
    font-weight: 700;
    color:hsl(229, 23%, 23%);
    
}
span{
    color:hsl(0, 0%, 59%);
    font-weight:400;
    word-spacing: 4px;
}
p{
    color:hsl(0, 0%, 59%);
    font-size: 13.5px;
    font-weight: 400;
    margin: 10px 0 27px 0;
    letter-spacing: 0.2px;
}
hr{
    opacity: 0.5;
    width: 100%;  
}
.sub-section{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px 18px;

}
.status{
    text-align: center;
    line-height: 1.35rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.status h3 ~ span{
    color:hsl(0, 0%, 59%);
    font-size: 13px;
    font-weight:400;
    letter-spacing: 2px;
}
